<%= form_for @article do |f| %>
 
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="myform mdl-textfield mdl-js-textfield">
    <%= f.label :title, :class => 'mdl-textfield__label' %><br>
    <%= f.text_field :title, :class => 'mdl-textfield__input' %>
  </div>
 
  <div class="myform mdl-textfield mdl-js-textarea">
    <%= f.label :text, :class => 'mdl-textfield__label' %><br>
    <%= f.text_area :text, :class => 'mdl-textfield__input' %>
  </div>

  <div class="myform mdl-textfield mdl-js-textfield">
    <%= f.label :image, :class => 'mdl-textfield__label' %><br>
    <%= f.text_field :image, :class => 'mdl-textfield__input' %>
  </div>

  <%= f.submit %>
  
 
<% end %>