            <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text"><%= @article.title %></h2>
                    </div>
                    <div class="mdl-card__media">
                        <%= image_tag article.image, class: "article-image", border: 0, alt: "article image" %>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <strong>Includes</strong>
                        <span>Design, UX and Frontend Development</span>
                    </div>
                    <div class="mdl-grid portfolio-copy">
                        <%= @markdown.render(@article.text).html_safe %>
                    </div>
                    <div class="mdl-color-text--primary-contrast mdl-card__supporting-text comments">
                      <%= render 'comments/form' %>

                    <%= render @article.comments %>
                </div>
          </div>

<!-- 
<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_article_path(@article) %> | 
<%= link_to 'Back', articles_path %> -->